:root {
    --clr-header: #1D1E35;
    --clr-paragraph: hsl(237, 12%, 33%);
    --clr-user-data: #1D1E35;
    --clr-user-data-paragraph: hsl(237, 12%, 33%);
}

[data-theme="dark"] {
    --clr-user-data: #efeff1;
    --clr-user-data-paragraph: #adadb8;
}



/*_________________________________________*/
/*profile*/
.profile-page-wrapper {
    margin: var(--page-margin-profile-page);
    font-family: "Manrope", "sans-serif";
    min-height: 70vh;
    border-radius: 0.4rem;
    display: flex;
    margin-bottom: 20rem;
}




/*dark*/

.profile-page-wrapper__light {
    background: #FFFFFF;
}

.profile-page-wrapper__dark {
    gap: 2rem;
}



.profile-card__container__light {
    padding: 1rem 6.5rem 0 6.5rem;
}

.profile-card__container__dark {
    background: #1F1F23;
    border-radius: 0.4rem;
    padding: 1rem 5rem;
}



.socials-name__container__dark {
    background: #1F1F23;
    border-radius: 0.4rem;
    padding: 1rem 0  1rem 2rem;
}

.socials-name__container__light {
    padding-top: 2rem
}



.statistics__container__dark {
    background: #1F1F23;
    border-radius: 0.4rem;
    padding: 0 2rem 0 2rem;
}

.info-content__container__dark {
    padding: 0 0 1rem 0;
}
.info-content__container__light {
    padding: 0 1.5rem 2rem 0;
}






/*______*/

.profile-card__container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
}

.profile-info__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.user-info__container {
}

.about-me__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.statistics__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.info-content__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.profile-image {
    max-width: 10rem;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 3px solid white;
    justify-content: center;
    object-fit: scale-down;
    background: #FFFFFF;
}


.socials-name__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.profile__socials-info {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding-left: 0.4rem;
}

.profile__socials-info__light {
    color: var(--clr-header)
}
.profile__socials-info__dark {
    color: #efeff1;
    font-size: 1.1rem;
}
.profile__socials-info__dark > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.follow__dark {
    opacity: 0.8;
    font-size: 0.9rem;
}
.following > .light, .followed > .light, .rating > .light {
    font-weight: 700;
}


.profile__name {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.personal-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}
.heading {
    color: var(--clr-paragraph);
    font-weight: 500;
}
.about-header {
    font-weight: 700;
    color: var(--bg-btn-primary-blue);
}


/*_________________________________________*/
/*info container*/

.info__nav__dark {
    display: flex;
    gap: 2rem;
    user-select: none;
}

.info__nav__dark > div {
    transition: 0.1s;
    color: #efeff1;
    font-weight: 700;
    padding: 1rem 0 0 0;
    border-top: 2px solid rgba(66, 133, 244, 0);
    min-height: 3.2rem;
}

.info__nav__dark > div:hover {
    cursor: pointer;
    color: var(--bg-btn-primary-blue);
    border-top: 2px solid rgba(66, 133, 244, 0.3);
}

.button-active__dark {
    color: var(--bg-btn-primary-blue) !important;
    border-top: 2px solid var(--bg-btn-primary-blue) !important;
}



.info__nav {
    display: flex;
    gap: 2rem;
    user-select: none;
}

.info__nav > div {
    transition: 0.2s;
    color: var(--clr-header);
    font-weight: 700;
    padding: 1rem 0 0 0;
    min-height: 3.2rem;
}


.info__nav > div:hover {
    cursor: pointer;
    color: var(--bg-btn-primary-blue);
    border-bottom: 1px solid var(--bg-btn-primary-blue)
}

.button-active {
    color: var(--bg-btn-primary-blue) !important;
    border-bottom: 1px solid var(--bg-btn-primary-blue)
}

.profile__paginate {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-weight: 700;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    border-radius: 0.4rem;
}

.profile__paginate__dark {
    background: #26262C;
    color: #adadb8;
}

.profile__paginate__light {
    background: var(--bg-website);
    color: var(--clr-header);
}
.arrow-paginate__light {
    max-width: 0.8rem;
    transition: 0.2s;
}
.arrow-paginate__light:hover {
    cursor: pointer;
    color: var(--bg-btn-primary-blue);
}

.arrow-paginate__dark {
    max-width: 0.8rem;
    transition: var(--transition);
    color: #efeff1;
}

.arrow-paginate__dark:hover {
    cursor: pointer;
    color: var(--bg-btn-primary-blue);
}


/*_________________________________________*/
/*event cards*/



.event-card {
    text-align: center;
}

.event-card__light {
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.event-card__dark {
    background: #18181b;
    border-radius: 0.4rem;
}


.event-card:hover {
    cursor: pointer;
}


.empty-card__light {
    background: #F3F3F3;
    border-radius: 0.15rem;
    min-height: 18rem;
}

.empty-card__dark {
    background: #26262C;
    border-radius: 0.4rem;
    min-height: 18rem;
}

.profile-event-card__image {
    height: 13rem;
    transition: 0.4s;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    padding-right: 0.4rem;
    gap: 0.2rem;
}

.profile-event-card__image::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../../Images/News-Trailer-Web-4Sep20.png);
    background-size: cover;
    opacity: 0.7;
    content: "";
    z-index: -1;
    border-radius: 0.4rem;
}


.events-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
    min-height: 26rem;
}


.info-paragraph {
    font-weight: 500;
    color: var(--clr-paragraph);
}
.info-header__title {
    padding-top: 0.5rem;
    color: var(--clr-header);
}

.info-header__title__dark {
    color: #efeff1;
    font-size: 0.8rem;
}
.info-header__title-light {
    color: var(--clr-header);
    font-weight: 700;
    font-size: 0.8rem;
}

.info-header-category__dark {
    color: #adadb8;
    font-size: 0.7rem;
}

.info-header-category__light {
    color: var(--clr-paragraph);
    font-weight: 500;
    font-size: 0.7rem;
}
.info-header-category {
    display: flex;
    justify-content: space-between;
}


.info-header-button__dark:hover {
    cursor: pointer;
    color: var(--bg-btn-primary-blue);
}

.info-header-button__dark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 0.5rem;
    transition: 0.1s;
    height: 100%;
}

.info-header-button__light:hover {
    cursor: pointer;
    background: var(--bg-btn-primary-blue);
}

.info-header-button__light {
    background: var(--bg-primary-dark);
    border-radius: 50%;
    color: #FFFFFF;
    max-width: 2rem;
    max-height: 2rem;
    padding: 0.2rem;
    position: relative;
    bottom: 1rem;
    transition: 0.2s;
    z-index: 10;
}

.profile-event-card__info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.6rem 1rem 0.6rem;
}
.info-header {
    display: flex;
}
.info-category {
    line-height: 0.4rem;
    font-size: 0.8rem;
}



/*_________________________________________*/
/*calendar card, people counter*/



.info__go-to {
    display: flex;
    flex-direction: column;
}

.event-people__count {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    background: var(--bg-primary-dark);
    padding: 0.3rem;
    z-index: 10;
    border-radius: 0 0 0.4rem 0.4rem;
    font-size: 0.85rem;
}

.people-icon__profile {
    max-width: 1.2rem;
}

.counter__profile {
    font-size: 0.7rem;
    font-weight: 700;
}

.event-date-card {
    background: var(--bg-btn-primary-blue);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.4rem 0.4rem;
    padding: 0.4rem;
    font-size: 0.85rem;
}

.event-date-card__day {
    font-weight: bold;
    font-size: 1.1rem;
}

.date-finished {
    opacity: 0.6;
}


.profile-incomplete {
    font-size: 0.7rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-weight: 700;
}
.profile-incomplete:hover {
    cursor: pointer;
    user-select: none;
}

.profile-incomplete__light {
    background: rgba(237, 239, 241, 0.75);
    color: var(--clr-paragraph);
}

.profile-incomplete__dark {
    background: #26262C;
    color: #adadb8;
    

}

.profile__location__incomplete, .about-header__incomplete {
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
    font-weight: 700;
}


.profile__location__incomplete__light, .about-header__incomplete__light {
    background: rgba(237, 239, 241, 0.75);
    color: var(--clr-paragraph);
}


.profile__location__incomplete__dark, .about-header__incomplete__dark {
    background: #26262C;
    color: #adadb8;
    
}

.arrow-paginate__disabled {
    max-width: 0.8rem;
    transition: 0.2s;
    opacity: 0.5;
}

.arrow-paginate__disabled__dark {
    max-width: 0.8rem;
    color: #efeff1;
    opacity: 0.2;
}


.user-data {
    color: var(--clr-user-data);
}
.user-data-paragraph {
    color: var(--clr-user-data-paragraph);
    font-size: 0.9rem;
    padding-left: 0.4rem;
}


.user-data-align {
    padding-left: 0.4rem;
}







