@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


:root {
    --box-shadow: 0 1px 5px rgba(50, 50, 50, 0.1);
    --clr-content-background: #FFFFFF;
    --clr-page-background-1: #FAFAFA;
    --clr-page-background-2: #F3F3F3;
    --border-profile-page: 1px solid rgba(5, 5, 5, 0.13);
}
body {
    background: black;
}
.profile-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    margin: 5rem 20rem;
    padding: 1rem;
    font-family: "Manrope", "sans-serif";
    gap: 1.2rem;
}
.profile-content {
    background: #FAFAFA;
    box-shadow: var(--box-shadow);
    border: var(--border-profile-page)
    
}


