.profile__name__visiting {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-incomplete__visiting {
    font-size: 0.7rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-weight: 700;
}


.section-private-dark {
    min-height: 29rem;
    color: #efeff1;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.section-private-light {
    min-height: 29rem;
    color: var(--clr-header);
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.section-diagrams-private-dark {
    min-height: 26rem;
    color: #efeff1;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.section-diagrams-private-light {
    min-height: 26rem;
    color: var(--clr-header);
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.section-about-me-light {
    color: var(--clr-header);
}

.section-about-me-dark {
    color: #efeff1;
}

.section-location-light {
    color: var(--clr-paragraph);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.section-location-dark {
    color: #adadb8;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}
.lock-location-icon {
    max-width: 1em;
    padding-left: 0.4rem;
}
