:root {
    --calendar-card-body: #F3F3F3;
    --calendar-card-font-color: #1C1F23;
    --calendar-card-top-bottom-color: #1C1F23;
    --calendar-card-go-to-event-font-color: rgba(28, 31, 35, 0.62);
    --calendar-card-box-shadow: 0 1px 5px rgba(50, 50, 50, 0.1);
    --calendar-card-heading-font-color: #fff
}


.calendar-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem 0;
    background: var(--calendar-card-body);
    color: var(--calendar-card-font-color);
    border-radius: 0.3rem;
    gap: 0.1rem;
    border-bottom: 5px solid var(--calendar-card-top-bottom-color);
    box-shadow: var(--calendar-card-box-shadow);
    width: 10rem;
}

.month {
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: var(--calendar-card-top-bottom-color);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 2.2rem 0.3rem 2.2rem;
    width: 100%;
    color: var(--calendar-card-heading-font-color)
}

.day, .day-number, .event-upcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.1rem 0 2.1rem;
    width: 100%;
    font-size: 0.7rem;
    max-width: 100%;
}

.go-to-event {
    text-decoration: none;
    color: var(--calendar-card-go-to-event-font-color);
}
.go-to-event:hover {
    cursor: pointer;
}

.day-number {
    font-size: 2.6rem;
    font-weight: bold;
}
.day {
    margin-top: 0.3rem;
}





.upcoming-calendar-container, .previous-calendar-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 15rem;
}



