.button-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.button-item {
    background: var(--bg-btn-primary-blue);
    border: var(--border-containers);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    color: var(--font-btn);
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s;
}

.button-item:hover {
    background: var(--bg-btn-primary-blue-hover);
    cursor: pointer;
    color: var(--font-btn);
}
