@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


.profile-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.profile-card-wrapper > div {
    background: var(--bg-clr-containers);
    border: var(--border-containers)
}

.personal-info-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 2rem 6rem 2rem;
}
.asd {
    display: flex;
    align-items: end;
    gap: 1rem;
    position: relative;
    top: -5.5rem;
    margin-bottom: -5rem;
}
.asd > img {
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px rgb(255, 255, 255) solid;
}
.socials {
    display: flex;
    gap: 3.5rem;
}
.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number {
    font-size: 1.5rem;
    font-weight: bold;
}
.profile-background {
    background-image: url("../../../Images/7362291.jpg");
    background-repeat: no-repeat;
    background-position: 0 -50rem;
    min-height: 12rem;
    margin-bottom: 1rem;
    border: var(--border-containers)
}
.about {
    padding: 2rem 2rem 2rem 2rem;
}
.about > h3 {
    font-weight: bold;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}
