.events-container__expanded { 
    position: absolute;
    background: var(--expanded-clr);
    border: 1px solid rgba(5, 5, 5, 0.20);
    color: #242626;
    display: flex;
    flex-direction: column;
    top: 78%;
    border-radius: 0.2rem;
    padding: 0.2rem 0.2rem 0.2rem 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    min-width: 18rem;
    min-height: 5rem;
    box-shadow: var(--box-shadow-container);
}
.events-found__active {
    opacity: 1;
    visibility: visible
}
.event-searched-card {
    display: flex;
    gap: 0.8rem;
    border-bottom: var( --border-bottom-ezpanded-card);
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    transition: 0.2s;
    cursor: pointer;
    color: var(--expanded-card-clr);
}
.event-searched-card:hover {
    background: var(--expanded-hover-clr);
}
.event-searched-date {
    display: flex;
    flex-direction: column;
    background: #4285F4;
    color: #FFFFFF;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    align-items: center;
    justify-content: center;
    border-radius: 0  0.3rem  0.3rem  0;
}
.event-searched-day {
    font-size: 1.3rem;
    font-weight: bold;
}
.event-info__found {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.event-info-category__found {
    font-weight: 500;
    font-size: 0.7rem;
    text-align: left;
}
.event-info-header__found {
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding-bottom: 0.3rem;
    max-width: 15ch;
    text-align: left;
    color: var(--expanded-card-title-clr);
}
.event-info-paragraph__found {
    display: flex;
    gap: 5rem;
    font-size: 0.7rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

.event-info-paragraph__found-mobile {
    gap: 1rem !Important;
}

.event-info-paragraph-level__found {
    text-align: left;
 }
 
.Beginner {
    color: #4BB543;
}
.Intermediate {
    color: #C49102;
}
.Expert {
    color: #ED0014
}
.found_icon {
    max-width: 1rem;
}
.emptySearchMenu {
    padding-top: 1.2rem;
    text-align: center;
    color: var(--info-not-found-clr)
}


