.welcome-page {
    background-image: url(/public/img/main-page-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    grid-template-rows: 0.6fr 0.4fr 1fr;
}

.welcome-page-title{
    text-align: center;
    width: 34%;
    margin: auto;
    font-size: 5vh;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.8rem;
}