.calendar-page {
    background-color: var(--bg-website);
}

.calendar-container {
    margin: var(--page-margin);
    background-color: var(--bg-clr-containers);
    padding: 1rem;
}

a {
    text-decoration: none !important;
}