.calendar-page {
    background-color: var(--bg-website);
}

.calendar-container {
    margin: var(--page-margin-events-page);
    background-color: var(--bg-clr-containers);
    padding: 1rem;
    min-height: 100vh;
}

a {
    text-decoration: none !important;
}

.fc-daygrid-day-top :hover {
    font-weight: bold;
    cursor: pointer;
}

.fc-daygrid-event :hover {
    cursor: pointer;
}

tbody tr {
    height: 12vh;
}

.fc-daygrid-day-frame {
    height: 12vh;
}

.fc-daygrid-day-events {
    height: 10vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.fc-daygrid-day-events::-webkit-scrollbar {
    display: none;
}

.fc-daygrid-block-event {
    overflow: visible !important;
}