@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--bg-primary-dark);
    color: #FFFFFF;
    z-index: -1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem 0 2rem 0;
    border-top: 1px solid var(--bg-website);
}

.footer__title {
    font-size: 2rem;
    font-family: "Open Sans", "sans-serif";
}

.footer__page-description {
    max-width: 40ch;
    color: rgba(128, 128, 128, 0.9)
}

.go-to__github {
    color: #FFFFFF;
}
.go-to__github:hover {
    color: rgba(128, 128, 128, 0.9);
}

