@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
   
   --searchbar-background: #F3F3F3;
   --header-clr-searchbar: #18181BFF;
   --glass-cl-container: #F3F3F3;
   --searchbar-clr-focus: #fff;
   --box-shadow-container: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   
   
   --expanded-hover-clr: #e3e3e3;
   --mobile-box-color: #e3e3e3;
   --expanded-clr: #F3F3F3;
   --border-bottom-ezpanded-card: 1px solid rgba(5, 5, 5, 0.20);
   --info-not-found-clr: rgba(36, 38, 38, 0.7);
   --expanded-card-clr: #18181BFF;
   
   --expanded-containers-color: #242626;
   --containers-hover-eff: rgba(36, 38, 38, 0.13);
   --containers-hover-clr: #242626;
}

[data-theme='dark'] {

   --mobile-box-color: #464649;
   --searchbar-background: #464649;
   --header-clr-searchbar: #efeff1;
   --glass-cl-container: #26262C;
   --searchbar-clr-focus: rgba(70, 70, 73, 0.7);
   --box-shadow-container: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   
   
   
   --expanded-hover-clr: rgba(38, 38, 44, 0.7);
   --expanded-clr: #18181B;
   --border-bottom-ezpanded-card: 1px solid hsla(0, 0%, 100%, 0.1);
   --info-not-found-clr: #adadb8;
   --expanded-card-clr: #adadb8;
   --expanded-card-title-clr: #efeff1;

   --expanded-containers-color: rgba(239, 239, 241, 0.85);
   --containers-hover-eff: rgba(38, 38, 44, 0.7);
   --containers-hover-clr: #efeff1;

}

header {
   font-family: "Montserrat", "sans-serif";
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 18%;
   background: #18181b;
   position: fixed;
   top: 0; left: 0; right: 0;
   z-index: 1000;
}
.nav__links {
   display: flex;
   gap: 2rem;
}

.nav-item {
   cursor: pointer;
   text-decoration: none;
   font-size: 1.3rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-item__icon {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FFFFFF;
   transition: 0.2s;
}
.nav-item__icon:hover {
   color: var(--bg-btn-primary-blue);
}
.nav-item > img {
   max-width: 2rem;
   aspect-ratio: 1;
   border-radius: 50%;
   border: 1px solid rgba(255, 255, 255, 0.65);
   transition: 0.2s;
}

.nav-item > img:hover {
   border: 1px solid var(--bg-btn-primary-blue);
}



/*logo and search bar*/


.logo-search {
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5rem;
}
.search-bar-header {
   display: flex;
   justify-content: center
}
.search-txt-header {
   background: var(--searchbar-background);
   padding: 0.3rem 1rem 0.3rem 0.5rem;
   border: 0;
   transition: 0.2s;
   border-radius: 5px 0 0 5px;
   color: var(--header-clr-searchbar);
}
.search-txt-header:focus {
   outline: none !important;
   background: var(--searchbar-clr-focus);
   border: 0 !important;
}
.glass-container {
   display: flex;
   justify-content: center;
   background: var(--glass-cl-container);
   border-radius: 0 5px 5px 0;
   border-left: 1px solid #242626;
   padding: 0.3rem 0.3rem 0.3rem 0.3rem;
   color: var(--header-clr-searchbar);
   transition: 0.2s;
}
.glass-container:hover {
   cursor: pointer;
   background: #4285F4;
   color: #F3F3F3;
}
.header-search-icon {
   min-height: 100%;
}

/*-------*/


/*profile menu */

.profile-page-expanded-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background: var(--expanded-clr);
   color: var(--expanded-containers-color);
   border-radius: 0.3rem;
   font-size: 1rem;
   box-shadow: var(--box-shadow-container);
}

.go__log-out {
   text-decoration: none;
   color: var(--expanded-containers-color);
   padding: 0.3rem 6rem 0.3rem 0.3rem;
   border-top: var(--border-bottom-ezpanded-card);
}
.go__profile, .go__settings {
   color: var(--expanded-containers-color);
   text-decoration: none;
   padding: 0.3rem 6rem 0.3rem 0.3rem;
   display: flex;
   gap: 1rem;
}

.go__profile:hover, .go__settings:hover, .go__log-out:hover {
   color: var(--containers-hover-clr);
   cursor: pointer;
   background: var(--containers-hover-eff)
}

.triangle__profile-menu {
   position: absolute;
   right: 17%;
   bottom: 70%;
   width: 2rem;
   aspect-ratio: 1;
   transform: rotate(45deg);
   background: #F3F3F3;
   z-index: -1;
}

.sign-in__button {
   color: #FFFFFF;
   transition: 0.2s;
   text-decoration: none !important;
}
.sign-in__button:hover {
   color: var(--bg-btn-primary-blue);
}



/*-------*/

/*expand actions*/

.expanded__profile-menu {
   position: absolute;
   /*right: 13%;*/
   top: 85%;
   visibility: hidden;
   transition: 0.2s;
   opacity: 0
}

.expanded__notification-menu {
   position: absolute;
   /*right: 17%;*/
   top: 94%;
   visibility: hidden;
   transition: 0.2s;
   opacity: 0;
}


.expanded__active {
   top: 95%;
   visibility: visible;
   opacity: 1;
}


/*-------*/


/*notification menu*/

.notification-expanded-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background: var(--expanded-clr);
   border-radius: 0.3rem;
   box-shadow: var(--box-shadow-container);
   color: var(--expanded-containers-color);
   font-size: 0.8rem;
}

.notification-header {
   padding: 0.3rem 0 0.3rem 0;
   text-decoration: none;
   text-align: center;
   font-size: 1rem;
   border-bottom: var(--border-bottom-ezpanded-card);
   font-weight: bold;
}
.notification-container {
   display: flex;
   flex-direction: column;
   min-height: 10rem;
}
.notification {
   cursor: pointer;
   padding: 0.8rem 5rem 0.8rem 0.5rem;
   transition: 0.2s;
}
.notification:hover {
   background: var(--containers-hover-eff)
}

.burger-menu {
   display: none;
   background: 0;
   outline: 0;
   border: 0;
   transition: 100ms ease-in-out;
}

.burger-menu:hover {
   filter: brightness(0) 
   saturate(100%) 
   invert(39%) 
   sepia(10%) 
   saturate(3064%) 
   hue-rotate(178deg) 
   brightness(99%) 
   contrast(101%);
}

.mobile-menu-expanded {
   position: fixed;
   background-color: var(--expanded-clr);
   left: 0;
   right: 0;
   z-index: 999;
   margin: 0.5rem 1.5rem;
   padding: 1rem 0;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   user-select: none;
   animation: growDown 300ms ease-in-out forwards;
   transform-origin: top center;
   gap: 1rem;
   flex-direction: column;
   border-radius: 0.4rem;
}

.mobile-nav-item {
   text-decoration: none;
   color: var(--expanded-containers-color);
   align-self: center;
   display: flex;
   align-items: center;
   justify-content:center;
   font-size: 1.2rem;
   transition: 0.2s;
   text-align: center;
   gap: 0.5rem;
}

.mobile-expanded__profile-menu {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
   margin: 1rem;
   padding: 1rem;
   background-color: var(--mobile-box-color);
   border-radius: 0.4rem;
   animation: growDown 300ms ease-in-out forwards;
   transform-origin: top center;
}

.mobile-expanded__profile-menu-active {
   display: flex;
}

.mobile-expanded__profile-menu-inactive {
   display: none;
}

.mobile-expanded__profile-menu > * {
   text-decoration: none;
   color: var(--expanded-containers-color);
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.mobile-expanded__profile-menu > *:hover {
   color: #4285F4;
   font-weight: bold;
   cursor: pointer;
}


.mobile-nav-item:hover {
   text-decoration: underline;
   cursor: pointer;
   color: var(--expanded-containers-color) !important;
   
}

.mobile-menu-active {
   display: flex;
}

.mobile-menu-inactive {
   display: none;
}

.mobile-search-bar-header {
   display: flex;
   justify-content: center;
}

.mobile-events-container__expanded {
   background: var(--expanded-clr);
   border: 1px solid rgba(5, 5, 5, 0.20);
   color: #242626;
   display: flex;
   flex-direction: column;
   border-radius: 0.2rem;
   padding: 0.2rem 0.2rem 0.2rem 0;
   visibility: hidden;
   opacity: 0;
   transition: 0.2s;
   min-width: 18rem;
   min-height: 5rem;
}

.search-mobile-menu {
   outline: none;
   background: none;
   border: none;
   font-weight: bold;
   color: #efeff1;
   display: none;
   align-items: center;
   justify-content: center;
   transition: 100ms ease-in-out;
   height: 2rem;
}

.mobile-search-txt-header {
   background: var(--searchbar-background);
   padding: 0.3rem 1rem 0.3rem 0.5rem;
   margin-right: 0.5rem;
   border: 0;
   border-radius: 5px 0 0 5px;
   color: var(--header-clr-searchbar);
   position: relative;
   opacity: 0;
   display: none;
   animation: slideIn .5s ease;
   transform: translateX(50%);
}

.mobile-search-txt-header:focus {
   outline: none !important;
   background: var(--searchbar-clr-focus);
   border: 0 !important;
}

.mobile-search-menu-active {
   display: initial;
   animation: slide-in 0.5s forwards;
}




@keyframes slide-in {
   30% {
      opacity: 0;
   }
   100% { 
      opacity: 1;
      transform: translateX(0%); 
   }
}

/*-------*/


@media (max-width: 1200px) {
   header {
      padding: 20px 5%;
   }
}

@media (max-width: 768px) {

   .nav__links {
      display: none;
   }

   .search-txt-header {
      padding: 0.6rem 0 0.6rem 0.5rem;
   }
   
   .burger-menu {
      display: initial;
   }
   
   .search-mobile-menu {
      display: flex;
   }
   
   .search-bar-header {
      display: none;
   }
   
   nav {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 0.5rem;
   }
   
   .search-mobile-menu:hover {
      cursor: pointer;
      color: #4285F4;
      font-weight: bold;
   }
   
}

@media (max-width: 300px) {
   .mobile-search-txt-header {
      width: 75%;
   }
}

@keyframes slideIn {
   
}

@keyframes growDown {
   0% {
      transform: scaleY(0)
   }
   80% {
      transform: scaleY(1.1)
   }
   100% {
      transform: scaleY(1)
   }
}

