.filter-sport-expanded-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 0.7rem 1rem 1rem 1rem;
}
.filter-sport-expanded-container > div {
    padding: 0.6rem 0 0.3rem 0
}

.search-bar-sport-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0 1rem 1rem 1rem;
}
.search-txt-sport-filter {
    background: #F3F3F3;
    padding: 0.2rem 1rem 0.2rem 0.3rem;
    border: 0;
    transition: 0.2s;

}
.search-txt-sport-filter:focus {
    outline: none !important;
    background: #fff;
    border: 2px solid rgba(128, 128, 128, 0.17);
}

.search-button-sport-filter {
    border: 0;
    background: 0;
}

.expanded-header {
    border-bottom: 1px solid rgba(5, 5, 5, 0.20);
}
.sport-item {
    transition: 0.1s;
    display: flex;
    justify-content: space-between;
    
}
.sport-item:hover {
    cursor: pointer;
    background: #F3F3F3;
}

.active-filter {
    max-height: 30rem;
    
}
.inactive-filter {
    min-height: 2.7rem;
}
.check-hide-all-sports {
    font-weight: 700;
    color: rgba(66, 133, 244, 0.84);
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.check-hide-container {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 0;
}
.check-hide-container > .hide-btn {
    color: rgba(66, 133, 244, 0.62);
    font-weight: 500;
}

.check-hide-all-sports:hover {
    cursor: pointer;
    color: rgb(66, 133, 244);
    background: 0;
}

.check-hide-container > .hide-btn:hover {
    color: rgb(66, 133, 244);
}