.carousel-container {
    width: 71rem;
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
}

.carousel-inner {
    overflow: hidden;
}

.track {
    display: flex;
    transition: transform 1s;
}

.card {
    display: grid !important;
    grid-template-rows: 1fr 0.1fr 1fr 0.1fr !important;
    height: 25rem;
    width: 20rem;
    padding-right: 1rem;
    border: 0 !important;
    border-radius: 0 !important;
    background: transparent !important;
    text-align: center;
}

.event-info {
    /*overflow: scroll;*/
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    color: rgba(0, 0, 0, 0.6);
}

#nav-button {
    height: 3rem;
    width: 3rem;
    margin: auto;
    background: rgba(255, 255, 255, 0.15);
    border: 0;
    border-radius: 50%;
}