.join-button {
    width: 10rem;
    height: 3rem;
    margin: auto;
    border: none;
    outline: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.join-button:before {
    content: '';
    background: linear-gradient(45deg, #FFFFFF, #000000, #FFFFFF, #000000, #FFFFFF, #000000, #FFFFFF, #000000, #FFFFFF);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 40s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.join-button:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}