/* .join-button {
     width: 10rem;
     height: 3rem;
     font-size: 3vh;
     color: #FFFFFF;
     background: var(--bg-btn-primary-blue); 
     !*position: relative;*!
     border-radius: 0.5rem;
     transition: 0.3s;
     border: 0;
     text-align: center;
}
 .join-button:hover {
     cursor: pointer;
     background: var(--bg-primary-dark);
     border: 1px solid var(--bg-btn-primary-blue);
     color: #FFFFFF;
 }*/

/*
.join-button:before {
    content: '';
    background: linear-gradient(45deg, #FFFFFF, #000000, #FFFFFF, #000000, #FFFFFF, #000000, #FFFFFF, #000000, #FFFFFF);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 40s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.join-button:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}*/
