.event-calendar-modal {
    position: absolute;
    z-index: 1055;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-modal-content {
    background-color: #ff0000;
    width: 20rem;
}

.event-modal-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0.1rem;
}

.event-modal-header {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.event-modal-footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
}

.event-modal-title {
    text-align: center;
}

.event-modal-body {
    padding: 1rem;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
}
