.note-form-buttons-box {
    display: flex;
    justify-content: space-between;
}

.note-form-button {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.03rem;
    padding: 0.7rem 0;
    margin-bottom: 0.5rem;
    transition: var(--transition);
    border-radius: 0.3rem;
    width: 48.5%;
}

.note-form-message {
    padding: 0.5rem 0;
}

.note-dismiss {
    background: #df0000;
}

.note-save {
    background: #00a300;
}

.note-save:hover, .note-dismiss:hover {
    transform: translateY(-3px);
}