.settings__container {
    display: flex;
    min-height: 100vh;
    margin: 7rem 24%;;
    font-family: "Manrope", "sans-serif";
    background: #FFFFFF;
    border: 1px solid rgba(5, 5, 5, 0.20);
}

.settings__content {
    width: 100%;
}


/*BUTTONS */

.settings__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 33ch;
    border-right: 1px solid rgba(5, 5, 5, 0.20);
    user-select: none;
}

.settings__inactive-button {
    padding: 1rem 2rem;
    width: 100%;
    border-left: 2px solid rgba(66, 133, 244, 0);
}
.settings__inactive-button:hover {
    cursor: pointer;
    border-left: 2px solid rgba(66, 133, 244, 0.6);
    background: #F3F3F3;
}

.settings__active-button {
    padding: 1rem 2rem;
    width: 100%;
    font-weight: bold;
    border-left: 2px solid var(--bg-btn-primary-blue);
}

/*______*/


/*ChangePassword*/

.settings__change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
}

.settings__old-password,
.settings__new-password,
.settings__confirm-new-password {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.settings__old-password > input[type=password],
.settings__new-password > input[type=password],
.settings__confirm-new-password > input[type=password] {
    border: 1px solid rgba(5, 5, 5, 0.20);
    background: #F3F3F3;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    min-width: 30ch;
}

.settings__old-password > input[type=password]:focus,
.settings__new-password > input[type=password]:focus,
.settings__confirm-new-password > input[type=password]:focus {
    border: 1px solid rgba(5, 5, 5, 0.5);
}

label {
    cursor: pointer;
}

.settings__old-password > label, 
.settings__new-password > label,
.settings__confirm-new-password > label {
    color: var(--clr-header);
    min-width: 18ch;
    font-weight: 700;
    font-size: 1rem;
}


/*______*/


/*EditProfile*/

.settings__edit-profile-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 6.5rem 3rem 6.5rem;
}

.edit-profile__name-surname,
.edit-profile__localization,
.edit-profile__phone-number,
.edit-profile__aboutMe,
.edit-profile__organization {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.edit-profile__name-surname > input[type=text],
.edit-profile__localization > input[type=text],
.edit-profile__phone-number > input[type=text],
.edit-profile__organization > input[type=text],
.edit-profile__aboutMe > textarea {
    background: #FFFFFF;
    border: 1px solid rgba(5, 5, 5, 0.20);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.edit-profile__name-surname > input[type=text]:focus,
.edit-profile__localization > input[type=text]:focus,
.edit-profile__phone-number > input[type=text]:focus,
.edit-profile__aboutMe > textarea:focus,
.edit-profile__organization > input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(5, 5, 5, 0.5);
}

.edit-profile-labels {
    color: var(--clr-header);
    font-weight: 700;
    font-size: 1rem;
}

.settings__edit-profile-container > input[type=submit] {
    align-self: center;
}


/*______*/




/*PrivacySettings*/


.settings__privacy-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 5rem 3rem 5rem;
}

.privacy__header > p {
    color: #8e8e8e;
    font-size: 0.9rem;
}

.privacy__header > h2 {
    color: var(--clr-header);
}

.privacy__localization-container > p,
.privacy__followers-container > p,
.privacy__statistics-container > p,
.privacy__aboutMe-container > p,
.privacy__upcoming-container > p,
.privacy__previous-container > p,
.privacy__photo-container > p {
    color: #8e8e8e;
    font-size: 0.9rem; 
    padding-top: 0.4rem;
}

.privacy__localization-container > h4,
.privacy__followers-container > h4,
.privacy__statistics-container > h4,
.privacy__aboutMe-container > h4,
.privacy__upcoming-container > h4,
.privacy__previous-container >h4,
.privacy__photo-container > h4 {
    padding-bottom: 0.8rem;
}

.privacy__localization-container,
.privacy__followers-container,
.privacy__statistics-container,
.privacy__aboutMe-container,
.privacy__upcoming-container,
.privacy__previous-container {
    border-bottom: 1px solid rgba(5, 5, 5, 0.20);
}

.privacy-switch > label {
    color: var(--clr-header);
    font-weight: 700;
    user-select: none;
}
.privacy-switch {
    font-size: 1.01rem;
}

.settings__privacy-container > input[type=submit] {
    align-self: center;
}



/*______*/










