html {
    min-height: 100%;
}

.wr {
    display: flex;
    gap:1rem;
    min-height: 100%;
    margin: 90px 240px;
    padding: 1rem;
    font-family: "Manrope", "sans-serif";
}



.menu {
    background-color: #F3F3F3;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.1);
    display:flex;
    flex-direction:column;
}


.userChoices {
    width :75rem;
    border: 1px solid rgba(5, 5, 5, 0.13) ;
    background-color: #F3F3F3;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.1);
}

.buttons {
    font-family: "Manrope", "sans-serif";
    font-size: x-large;
    text-decoration: none;
    border: 2px solid;
    color: #242626;
    border: 1px solid rgba(5, 5, 5, 0.13);
    padding: 15px 50px 5px 100px;
}

.uno{
    height:30%;
}



.main-header {
    padding: 15px 50px 15px 100px;
}

.secondary-header {
    padding: 15px 50px 5px 100px;
}

.main-content {
    padding: 1px 60px 40px 60px;
}


.content {
    padding: 15px 100px 55px 100px;
}

.save-button {
    position :relative;
    padding: 15px 100px 55px 130px;
}

.organization-content-info {
    padding: 15px 100px 55px 130px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}





