.settings__container {
    display: flex;
    min-height: 100vh;
    margin: 7rem 24%;;
    font-family: "Manrope", "sans-serif";
}

.settings__content {
    width: 100%;
}

.settings__container__light {
    background: #FFFFFF;
    border: 1px solid rgba(5, 5, 5, 0.20);
}

.settings__buttons__light {
    border-right: 1px solid rgba(5, 5, 5, 0.20);
}

/*dark theme */

.settings__container__dark {
    gap: 2rem;
}

.settings__content__dark {
    background: #1F1F23;
    border-radius: 0.4rem;
}

.settings__buttons__dark {
    background: #1F1F23;
    border-radius: 0.4rem;
    color: #efeff1;
}

.settings__inactive-button__dark {
    padding: 1rem 2rem;
    width: 100%;
    border-left: 2px solid rgba(66, 133, 244, 0);
    transition: 0.1s;
}
.settings__inactive-button__dark:hover {
    cursor: pointer;
    border-left: 2px solid rgba(66, 133, 244, 0.6);
    background: rgba(38, 38, 44, 0.7);
}

.edit-profile-button__dark {
    border-radius: 0.4rem 0.4rem 0 0;
}

/*________*/


/*BUTTONS */

.settings__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 33ch;
    user-select: none;
}

.settings__inactive-button {
    padding: 1rem 2rem;
    width: 100%;
    border-left: 2px solid rgba(66, 133, 244, 0);
}
.settings__inactive-button:hover {
    cursor: pointer;
    border-left: 2px solid rgba(66, 133, 244, 0.6);
    background: #F3F3F3;
}

.settings__active-button {
    padding: 1rem 2rem;
    width: 100%;
    font-weight: bold;
    border-left: 2px solid var(--bg-btn-primary-blue);
}

/*______*/


/*ChangePassword*/

.settings__change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
}

.settings-password__dark > input[type=password] {
    background: #464649;
    color: #efeff1;
    border: 2px solid hsla(0, 0%, 100%, 0.1);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    min-width: 30ch;
}

.settings-password__dark > input[type=password]:focus {
    color: #efeff1;
    border: 2px solid #adadb8;
}

.settings-password__dark > label {
    color: #efeff1;
}

.settings-password__light > input[type=password] {
    border: 1px solid rgba(5, 5, 5, 0.20);
    background: #F3F3F3;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    min-width: 30ch;
}

.settings-password__light > input[type=password]:focus {
    border: 1px solid rgba(5, 5, 5, 0.5);
}

.settings-password__light > label {
    color: var(--clr-header);
}


.settings__old-password,
.settings__new-password,
.settings__confirm-new-password {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

label {
    cursor: pointer;
}

.settings__old-password > label, 
.settings__new-password > label,
.settings__confirm-new-password > label {
    min-width: 18ch;
    font-weight: 700;
    font-size: 1rem;
}


/*______*/






/*EditProfile*/

.edit-profile__dark > input[type=text],
.edit-profile__dark > textarea {
    background: #464649;
    color: #efeff1;
    border: 2px solid hsla(0, 0%, 100%, 0.1);
}

.edit-profile__dark > input[type=text]:focus,
.edit-profile__dark > textarea:focus  {
    background: #464649;
    color: #efeff1;
    border: 2px solid #adadb8;
}

.edit-profile-labels__dark {
    color: #efeff1;
}

.edit-profile-labels__light {
    color: var(--clr-header);
}

.edit-profile__light > input[type=text],
.edit-profile__light > textarea {
    background: #FFFFFF;
    border: 1px solid rgba(5, 5, 5, 0.20);
}

.edit-profile__light > input[type=text]:focus,
.edit-profile__light > textarea:focus{
    border: 1px solid rgba(5, 5, 5, 0.5);
}

.settings__edit-profile-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 6.5rem 3rem 6.5rem;
}

.edit-profile__name-surname,
.edit-profile__localization,
.edit-profile__phone-number,
.edit-profile__aboutMe,
.edit-profile__organization {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.edit-profile__name-surname > input[type=text],
.edit-profile__localization > input[type=text],
.edit-profile__phone-number > input[type=text],
.edit-profile__organization > input[type=text],
.edit-profile__aboutMe > textarea {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.edit-profile-labels {
    font-weight: 700;
    font-size: 1rem;
}

.settings__edit-profile-container > input[type=submit] {
    align-self: center;
}


/*______*/




/*PrivacySettings*/


.settings__privacy-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 5rem 3rem 5rem;
}

.privacy__header > p {
    color: #8e8e8e;
    font-size: 0.9rem;
}

.privacy__header > h2 {
    color: var(--clr-header);
}

.privacy__header__dark > p {
    color: #adadb8;
    font-size: 0.9rem;
}

.privacy__header__dark > h2 {
    color: #efeff1;
}

.privacy-container__light {
    
    border-bottom: 1px solid rgba(5, 5, 5, 0.20);
}

.privacy-container__light > p {
    color: #8e8e8e;
    font-size: 0.9rem;
    padding-top: 0.4rem;
}

.privacy-container__light > h4 {
    padding-bottom: 0.8rem;
}

.privacy-container__dark {

    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.privacy-container__dark > p {
    color: #adadb8;
    font-size: 0.8rem;
    padding-top: 0.4rem;
}

.privacy-container__dark > h4 {
    color: rgb(163, 163, 173);
    font-size: 0.9rem;
    padding-top: 0.4rem;
}

.privacy-switch__light > label{
    color: var(--clr-header);
}
.privacy-switch__dark > label {
    color: #efeff1;
}

.privacy-switch > label {
    font-weight: 700;
    user-select: none;
}
.privacy-switch {
    font-size: 1.01rem;
}

.settings__privacy-container > input[type=submit] {
    align-self: center;
}



/*______*/










