input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    /*left: -9000px;
    top: -9000px;*/
}

input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #CCCCCC;
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "\2715";
    font-size: .5em;
    height: .9em;
    left: .2em;
    width: 1.8em;
    height: 1.8em;
    background-color: #FFFFFF;
    color: white;
    border-radius: 1em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::before {
    background-color: #4285F4;
}

input[type="checkbox"].toggle:checked + label::after {
    content: "\2713";
    transform: translateX(100%);
    background-color: #FFFFFF;
}

input[type="checkbox"].toggle:disabled + label {
    color: #777;
}

input[type="checkbox"].toggle:disabled + label::before {
    background-color: #CCC;
}

input[type="checkbox"].toggle:disabled + label::after {
    background-color: #777;
}