
.FormContainerCSS {
    right: -30%;
    margin-top: 8%;

}

.Centered {
    
    text-align: center;
    align-content: center;
}


html {
    min-height: 100%;
}

.img2 {
    background-image: url('../../RandomImages/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.size {
    min-height: 100%;
}

.grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.gridModal {
    width: 60%;
    height: 20vh;
    display: grid;
    text-align: center;
    align-content: center;
}

.ForgotPassword {
    position:relative;
    top: 80%;

}

.InputReminder {
    width: 100%;
    border: 1px solid #000;
    padding: 0.5rem
}

.ReminderButton {
    position:absolute;
    top:-125%;
    left:40%;
}



