.diagram {
    width: 25rem;
}

.flex-row-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-row-container > .flex-row-item {
    flex: 1 1 30%;
    justify-content: center;
    align-items: center;
    min-height: 15rem;
}

.flex-row-item {
    border: 1px solid rgba(247, 103, 7, 0);
}