.diagram {
    width: 25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0.5rem;
}

.diagram__dark {
    width: 27rem;
    padding: 1rem;
}
.dark-hosted {
    padding-left: 2rem;
}

.flex-row-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 41.5rem;
    padding-bottom: 4.25rem;
}
.flex-row-container__dark {
    gap: 0.9rem;
}

.flex-row-container__light {
    gap: 0.5rem;
}
.flex-row-container > .flex-row-item {
    flex: 1 1 30%;
    justify-content: center;
    align-items: center;
}

.flex-row-item {
    border: 1px solid rgba(247, 103, 7, 0);
}