:root {
    --bg-container: #FFFFFF;
    --bg-image-clr: #4285F4FF;
    --header-clr: #18181BFF;
    --paragraph-clr: rgba(74, 75, 94, 0.5);
    --bg-input: 0;
    --border-widths: 0 0 1px 0;
    --border-input: rgba(36, 38, 38, 0.2);
    --icons-opacity: 0.2;
    --icons-active: #4285F4FF;
    --active-opacity: 0.7;
    --valid-border-bottom: #4BB543;
    --validation-info-color: rgba(74, 75, 94, 0.75);
    --border-radius-input: 0;
    --paragarph-font-size: 1rem;
    

}

[data-theme='dark'] {
    --bg-container: #1F1F23;
    --bg-image-clr: #18181b;
    --header-clr: #efeff1;
    --paragraph-clr: #adadb8;
    --bg-input: #464649;
    --border-widths: 1px 1px 1px 1px;
    --border-input: hsla(0, 0%, 100%, 0.1);
    --icons-opacity: 0.7;
    --icons-active: #efeff1;
    --active-opacity: 1;
    --valid-border-bottom: hsla(0, 0%, 100%, 0.1);
    --validation-info-color: rgba(173, 173, 184, 0.9);
    --border-radius-input: 0.4rem;
    --paragarph-font-size: 0.9rem;
    
    --autofill-color: white !important;
    --autofill-bg: text !important;
    
}


.register-login__page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.register-login__container {
    display: flex;
    min-height: 32rem;
    border-radius: 0.7rem;
    background: var(--bg-container);
    box-shadow: var(--box-shadow-containers);
}



.register-login__bg-container {
    min-width: 20rem;
    border-radius: 0.7rem 0 0 0.7rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-image-clr);
}

.register-login__bg-container::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../RandomImages/2.jpg);
    background-size: cover;
    opacity: 0.4;
    content: "";
    z-index: -1;
    border-radius: 0.7rem 0 0 0.7rem;
}

.register-login__forms {
    display: flex;
    min-width: 25rem;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.register__header {
    font-size: 1.6rem;
    letter-spacing: .0001em;
    font-weight: 500;
    padding-bottom: 0.2rem;
    color: var(--header-clr);
}

.register__paragraph {
    font-size: var(--paragarph-font-size);
    padding-top: 0.5rem;
    color: var(--paragraph-clr);
    font-weight: 500;
}
.header-info {
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    padding-top: 1rem;
}

.login-register__info-container {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    padding-right: 5rem;
}


.go-to__login, .go-to__register {
    cursor: pointer;
    color: #FFFFFF;
    /*background: rgba(173, 173, 184, 0.7);*/
    background: rgba(36, 38, 38, 0.8);
    border-radius: 1.3rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    box-shadow: var(--box-shadow-containers);
    transition: 0.3s;
    user-select: none;
}

.go-to__login:hover, .go-to__register:hover {
    background: #1F1F23;
    transform: translateY(-3px);
    cursor: pointer;
}

.register-login__register {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5.3rem;
}
.register-login__login {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    padding-bottom: 7.75rem;
}

.input-container__register > input[type=email],
.input-container__register > input[type=password],
.input-container__register > input[type=password],
.email-container__login > input[type=email],
.password-input-container__login > input[type=password],
.password-input-container__login > input[type=text] {
    min-width: 13rem;
    border: 0;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    transition: 0.5s;
    outline: none !important;
    border-width: var(--border-widths);
    border-style: solid solid solid solid;
    border-color: var(--border-input);
    background: var(--bg-input);
    color: var(--header-clr);
    border-radius: var(--border-radius-input)
}



.submit-container > input[type=submit],
.settings__edit-profile-container > input[type=submit],
.settings__change-password-container > input[type=submit],
.settings__privacy-container > input[type=submit]{
    background: var(--bg-btn-primary-blue);
    color: #FFFFFF;
    border: 0;
    border-radius: 1.3rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    transition: 0.3s;
    user-select: none;
}
.submit-container > input[type=submit]:hover,
.settings__edit-profile-container > input[type=submit]:hover,
.settings__change-password-container > input[type=submit]:hover,
.settings__privacy-container > input[type=submit]:hover {
    cursor: pointer;
    transform: translateY(-3px);
}



.submit-container {
    align-self: end;
}
.forgot-password {
    align-self: end;
    display: flex;
}
.forgot-password-button {
    font-size: 0.82em;
    color: var(--paragraph-clr);
    height: 1.5em;
}
.forgot-password-button:hover {
    cursor: pointer;
}
.register-icon-container {
    opacity: var(--icons-opacity);
    transition: 0.3s;
    color: var(--header-clr)
}
.password__visible {
    position: relative;
    bottom: 2.3rem;
    left: 5.9rem;
    color: var(--paragraph-clr)
}
.password__visible:hover {
    cursor: pointer;
}

.input-active {
    color: var(--icons-active);
    opacity: var(--active-opacity);
}

.email-container__login {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}
.password-container__login {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
}
.password-input-container__login {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}



.email-container__register,
.password-container__register,
.confirm-password-container__register {
    text-align: end;
}
.input-container__register {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.validation__info {
    font-size: 0.82em;
    color: var(--validation-info-color);
    height: 1.5em;
}
.input-valid {
    color: #4BB543;
    opacity: 0.8;
}


.input-email-valid input[type=email] {
    border-bottom: 1px solid var(--valid-border-bottom);
}
.input-password-valid input[type=password] {
    border-bottom: 1px solid var(--valid-border-bottom);
}
.input-confirm-valid input[type=password] {
    border-bottom: 1px solid var(--valid-border-bottom);
}

input[type=submit]:disabled {
    opacity: 0.45;
    pointer-events: none;
}

.register-validation__error, .login-validation__error {
    position: absolute;
    color: #FFFFFF;
    background: #B81D13;
    max-width: 24rem;
    border-radius: 2rem;
    padding: 0.8rem 3rem 0.8rem 3rem;
    top: 7.5rem;
    opacity: 0;
    transition: 0.2s;
}
.register-validation__success, .login-validation__success {
    position: absolute;
    color: #FFFFFF;
    background: #4BB543;
    max-width: 24rem;
    border-radius: 2rem;
    padding: 0.8rem 3rem 0.8rem 3rem;
    top: 7.5rem;
    opacity: 0;
    transition: 0.2s;
}


.register-modal__container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.open-modal__register-validation {
    top: 8rem;
    opacity: 1;
}


@media (max-width: 768px) {
    .register-login__container {
        flex-direction: column;
        min-height: 34rem;
    }

    .register-login__page {
        min-height: 100vh;
        margin: 7rem auto 0 auto;
    }

    .register-login__container {
        margin-top: -5rem;
    }

    .go-to__login, .go-to__register {
        border-radius: 0.7rem 0.7rem 0 0;
        display: flex;
        padding: 0.6rem 0 0.6rem 0;
        width: 100%;
        min-height: 4rem;
        align-items: center;
        justify-content:center;
        font-size: 1.2rem;
        font-weight: bold;
    }
    

    .register-login__login {
        padding-bottom: 1rem;
    }

    .register-login__register {
        padding-bottom: 1rem;
    }

    .go-to__login:hover, .go-to__register:hover {
        transform: initial;
        background: rgba(66, 133, 244, 0.4);
    }
    
    .register-login__bg-container::before {
        border-radius: 0.7rem 0.7rem 0 0;
    }

    .register-login__bg-container {
        min-width: initial;
    }
    
    .register-login__forms {
        justify-content: center;
        align-items: center;
        min-width: 24rem;
    }

    .login-register__info-container {
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }

    .register__header {
        font-size: 1.3rem;
    }

    .login-register__info-container {
        padding-right: 0;
    }

    .input-container__register > input[type=email],
    .input-container__register > input[type=password],
    .input-container__register > input[type=password],
    .email-container__login > input[type=email],
    .password-input-container__login > input[type=password],
    .password-input-container__login > input[type=text] {
        min-width: initial;
        padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    }
    
}

@media (max-width: 500px) {
    .register-login__forms {
        min-width: 20rem;
    }
}







