.register-login__page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.register-login__container {
    display: flex;
    box-shadow: var(--box-shadow-containers);
    min-height: 32rem;
    background: #FFFFFF;
    border-radius: 0.7rem;
}

.register-login__bg-container {
   /* background: rgba(66, 133, 244, 0.8);*/
    min-width: 20rem;
    border-radius: 0.7rem 0 0 0.7rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-btn-primary-blue);
}

.register-login__bg-container::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../RandomImages/2.jpg);
    background-size: cover;
    opacity: 0.4;
    content: "";
    z-index: -1;
    border-radius: 0.7rem 0 0 0.7rem;
}

.register-login__forms {
    display: flex;
    min-width: 25rem;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.register__header {
    color: var(--bg-primary-dark);
    font-size: 1.6rem;
    letter-spacing: .0001em;
    font-weight: 500;
    padding-bottom: 0.2rem;
}
.register__paragraph {
    font-size: 1rem;
    padding-top: 0.5rem;
    color: rgba(74, 75, 94, 0.5);
    font-weight: 500;
}
.header-info {
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    padding-top: 1rem;
}

.login-register__info-container {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    padding-right: 5rem;
}

.go-to__login, .go-to__register {
    cursor: pointer;
    color: #FFFFFF;
    background: rgba(36, 38, 38, 0.85);
    border-radius: 1.3rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    box-shadow: var(--box-shadow-containers);
    transition: 0.3s;
    user-select: none;
}

.go-to__login:hover, .go-to__register:hover {
    background: var(--bg-primary-dark);
    transform: translateY(-3px);
    cursor: pointer;
}

.register-login__register {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5.3rem;
}
.register-login__login {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    padding-bottom: 7.75rem;
}

input[type=password], input[type=email], input[type=text] {
    outline: none !important;
    min-width: 13rem;
    border: 0;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-bottom: 1px solid rgba(36, 38, 38, 0.2);
    transition: 0.5s;
}

input[type=submit] {
    background: var(--bg-btn-primary-blue);
    color: #FFFFFF;
    border: 0;
    border-radius: 1.3rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    transition: 0.3s;
    user-select: none;
}
input[type=submit]:hover {
    cursor: pointer;
    transform: translateY(-3px);
}



.submit-container {
    align-self: end;
}
.forgot-password {
    align-self: end;
    display: flex;
}
.forgot-password-button {
    font-size: 0.82em;
    color: rgba(74, 75, 94, 0.75);
    height: 1.5em;
}
.forgot-password-button:hover {
    cursor: pointer;
}
.register-icon-container {
    opacity: 0.2;
    transition: 0.3s;
}
.password__visible {
    position: relative;
    bottom: 2.3rem;
    left: 5.9rem;
}
.password__visible:hover {
    cursor: pointer;
}

.input-active {
    color: var(--bg-btn-primary-blue);
    opacity: 0.7;
}

.email-container__login {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}
.password-container__login {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
}
.password-input-container__login {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}



.email-container__register,
.password-container__register,
.confirm-password-container__register {
    text-align: end;
}
.input-container__register {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.validation__info {
    font-size: 0.82em;
    color: rgba(74, 75, 94, 0.75);
    height: 1.5em;
}
.input-valid {
    color: #4BB543;
    opacity: 0.8;
}


.input-email-valid input[type=email] {
    border-bottom: 1px solid #4BB543;
}
.input-password-valid input[type=password] {
    border-bottom: 1px solid #4BB543;
}
.input-confirm-valid input[type=password] {
    border-bottom: 1px solid #4BB543;
}

input[type=submit]:disabled {
    opacity: 0.45;
    pointer-events: none;
}

.register-validation__error, .login-validation__error {
    position: absolute;
    color: #FFFFFF;
    background: #B81D13;
    max-width: 24rem;
    border-radius: 2rem;
    padding: 0.8rem 3rem 0.8rem 3rem;
    top: 7.5rem;
    opacity: 0;
    transition: 0.2s;
}
.register-validation__success, .login-validation__success {
    position: absolute;
    color: #FFFFFF;
    background: #4BB543;
    max-width: 24rem;
    border-radius: 2rem;
    padding: 0.8rem 3rem 0.8rem 3rem;
    top: 7.5rem;
    opacity: 0;
    transition: 0.2s;
}


.register-modal__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-modal__register-validation {
    top: 8rem;
    opacity: 1;
}




