.register-login__page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.register-login__container {
    display: flex;
    box-shadow: var(--box-shadow-containers);
    min-height: 32rem;
    background: #FFFFFF;
    border-radius: 0.7rem;
}

.register-login__bg-container {
   /* background: rgba(66, 133, 244, 0.8);*/
    min-width: 20rem;
    border-radius: 0.7rem 0 0 0.7rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-btn-primary-blue);
}

.register-login__bg-container::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../RandomImages/2.jpg);
    background-size: cover;
    opacity: 0.4;
    content: "";
    z-index: -1;
    border-radius: 0.7rem 0 0 0.7rem;
}

.register-login__forms {
    display: flex;
    min-width: 25rem;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.register__header {
    /*color: #FFFFFF;*/
    color: var(--bg-primary-dark);
    font-size: 2rem;
    letter-spacing: .0001em;
    font-weight: 500;
    padding-bottom: 0.2rem;
}
.register__paragraph {
    padding-top: 0.5rem;
    color: rgba(74, 75, 94, 0.5);
    font-weight: 500;
}
.header-info {
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    padding-top: 1rem;
}

.login-register__info-container {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    padding-right: 5rem;
}

.go-to__login, .go-to__register {
    cursor: pointer;
    color: #FFFFFF;
    background: rgba(36, 38, 38, 0.5);
    border-radius: 1.3rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    box-shadow: var(--box-shadow-containers);
    transition: 0.3s;
}

.go-to__login:hover, .go-to__register:hover {
    background: var(--bg-primary-dark);
    transform: translateY(-3px);
    cursor: pointer;
}

.register-login__register, .register-login__login {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 4.5rem;
}
.register-login__login {
    padding-bottom: 9.2rem;
}

input[type=password], input[type=email] {
    outline: none !important;
    min-width: 15rem;
    border: 0;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-bottom: 1px solid rgba(36, 38, 38, 0.2);
    transition: 0.5s;
}
input[type=submit] {
    background: var(--bg-btn-primary-blue);
    color: #FFFFFF;
    border: 0;
    border-radius: 1.3rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    transition: 0.3s;
}
input[type=submit]:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.submit-container {
    align-self: end;
}
input:focus {
    border-bottom: 1px solid var(--bg-btn-primary-blue);
}

.email-container, .password-container, .confirm-password-container {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}
.register-icon-container {
    opacity: 0.2;
    transition: 0.3s;
}
.input-active {
    color: var(--bg-btn-primary-blue);
    opacity: 0.7;
}