.body {
 
    overflow: hidden; 

}

.FormContainerCSS {
    right: -30%;
    margin-top: 8%;

}

.Centered {
    text-align: center;
    align-content: center;
}

.SignNow
{
    color:blue;

}

.etwas {
    max-width: 60%;
}

.Correct {

    color:green;
}

.InCorrect{

    color:red;

}

