.filter {
    border-top: 1px solid rgba(5, 5, 5, 0.13);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.1rem 1rem 0.1rem;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
}

.filter-light {
    background: var(--font-btn);
    color: var(--clr-header);
}

.filter-dark {
    background: #26262C;
    color: #efeff1;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
}

.filter:hover {
    cursor: pointer;
}

.spinner {
    padding-top: 5rem;
}

.date-picker {
    display: flex;
    position: absolute;
    border-radius: 0.5rem;
    top: 27rem;
    padding: 0.5rem;
    background: #EDEFF1;
    z-index: 1000;
}

.date-picker-dark {
    background: #26262C;
    color: #efeff1;
}

.date-picker-light {
    background: #EDEFF1;
}

.date-selector-container {
    user-select: none;
    display: flex;
    justify-content: center;
}

.date-picker-button {
    color: var(--clr-header);
    font-weight: 700;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 16rem;
    border-bottom: 1px solid rgba(5, 5, 5, 0.13);
    padding: 0.8rem 0;
    
}
.date-picker-button:hover {
    cursor: pointer;
    color: var(--bg-btn-primary-blue)
}

.filter-parent {
    display: flex;
    flex-direction: column;
    max-height: 2.7rem;
    transition: all 0.3s ease-in-out;
}



.date-picker__selected-dates-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4rem;
}
.date-picker-selected-dates__light {
    background: var(--bg-website);
}

.date-picker-selected-dates__dark {
    background: #26262C;
}

.date-selector-container {
    padding-left: 1rem;
}
.date-separator {
    min-width: 0.4rem;
}
.date-separator-dark {
    color: #adadb8;
}
.dates-clear-button-light {
    color: var(--clr-header);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0 0.3rem;
    border-radius: 0 0.4rem 0.4rem 0;
    transition: 0.1s;
}
.dates-clear-button-light:hover {
    background: var(--bg-btn-primary-blue);
    color: #FFFFFF;
    cursor: pointer;
}

.dates-clear-button-dark {
    color: #adadb8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0 0.3rem;
    border-radius: 0 0.4rem 0.4rem 0;
    transition: 0.1s;
}
.dates-clear-button-dark:hover {
    color: var(--bg-btn-primary-blue);
    cursor: pointer;
}


.date-picker__first-date, .date-picker__second-date {
    text-align: center;
    padding: 0.8rem;
    transition: 0.1s;
    width: 12ch;
    font-weight: bold;
    border-bottom: 2px solid rgba(66, 133, 244, 0);
}

.date-dark {
    color: #adadb8;
    transition: var(--transition);
}

.date-dark:hover {
    color: #efeff1;
}

.date-light {
    color: var(--clr-header); 
}
.date-picker__first-date {
}

.date-picker__second-date {
}


.date-picker__first-date:hover, .date-picker__second-date:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--bg-btn-primary-blue);
}


.date-picker__selected-dates {
    display: flex;
    align-items: center;
    color: var(--clr-header);
    font-weight: 500;
    gap: 1rem;
    border-radius: 0.4rem;
}

@keyframes icon-move-up {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg)
    }
}
@keyframes icon-move-down {
    0% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(0deg)
    }
}


.active-expand-icon {
    animation: icon-move-up 0.3s forwards 1;
}
.inactive-expand-icon {
    animation: icon-move-down 0.3s forwards 1;
}

@media (max-width: 1400px) {
    .date-selector-container {
        padding-left: 0;
    }

    .date-picker__first-date, .date-picker__second-date {
        width: initial;
    }

    .date-picker {
        top: 55rem;
        z-index: 1000;
    }
    
}






















