.filter {
    background: var(--font-btn);
    border-top: 1px solid rgba(5, 5, 5, 0.13);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.1rem 1rem 0.1rem;
    transition: all 0.3s ease-in-out;
    color: var(--clr-header);
    font-weight: 700;
}
.filter:hover {
    cursor: pointer;
}

.spinner {
    padding-top: 5rem;
}

.date-picker {
    display: flex;
    position: absolute;
    border-radius: 0.5rem;
    top: 27rem;
    padding: 0.5rem;
    background: #EDEFF1;
    z-index: 1000;
}

.date-selector-container {
    user-select: none;
    display: flex;
    justify-content: center;
}

.date-picker-button {
    color: var(--clr-header);
    font-weight: 700;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 16rem;
    border-bottom: 1px solid rgba(5, 5, 5, 0.13);
    padding: 0.8rem 0;
    
}
.date-picker-button:hover {
    cursor: pointer;
    color: var(--bg-btn-primary-blue)
}

.filter-parent {
    display: flex;
    flex-direction: column;
    max-height: 2.7rem;
    transition: all 0.3s ease-in-out;
}



.date-picker__selected-dates-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-website);
    border-radius: 0.4rem;
}
.date-selector-container {
    padding-left: 1rem;
}
.date-separator {
    min-width: 0.4rem;
    font-weight: 700;
}
.dates-clear-button {
    color: var(--clr-header);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0 0.3rem;
    border-radius: 0 0.4rem 0.4rem 0;
    transition: 0.2s;
}
.dates-clear-button:hover {
    background: rgba(66, 133, 244, 0.4);
    cursor: pointer;
}
.date-picker__first-date, .date-picker__second-date {
    text-align: center;
    padding: 0.8rem;
    transition: 0.2s;
    width: 12ch;
    background: rgb(223, 224, 227);
}
.date-picker__first-date {
    border-radius: 0.4rem;
}

.date-picker__second-date {
    border-radius: 0.4rem 0 0 0.4rem; 
}


.date-picker__first-date:hover, .date-picker__second-date:hover {
    cursor: pointer;
    background: rgba(66, 133, 244, 0.4);
}


.date-picker__selected-dates {
    display: flex;
    align-items: center;
    color: var(--clr-header);
    font-weight: 500;
    gap: 1rem;
    border-radius: 0.4rem;
}

@keyframes icon-move-up {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg)
    }
}
@keyframes icon-move-down {
    0% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(0deg)
    }
}


.active-expand-icon {
    animation: icon-move-up 0.3s forwards 1;
}
.inactive-expand-icon {
    animation: icon-move-down 0.3s forwards 1;
}







